/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to bottom, #2D2F6F 0%, #00f2fe 100%);
  padding: 30px;
}

.container {
  position: relative;
  max-width: 850px;
  width: 100%;
  background: #fff;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.site-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px; /* Adjusted height for the footer */
  color: white;
  text-align: center;
  line-height: 10px; /* Match the height of the footer */
  font-family: 'Poppins', sans-serif;
  background-color: #5161ce; /* Background color for the footer */
  overflow: hidden; /* Prevent text from overflowing */
}

.forms {
  height: 100%;
  width: 100%;
}

.form-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.password-reset-form {
  width: 100%;
}

.password-reset-form .title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: #333;
  margin-bottom: 20px;
}

.password-reset-form .input-boxes {
  margin-top: 20px;
}

.password-reset-form .input-box {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}

.password-reset-form .input-box i {
  position: absolute;
  margin-left: 10px;
  color: #7d2ae8;
}

.password-reset-form .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: 2px solid #ccc;
  padding-left: 30px; /* Give space for the icon inside input box */
  font-size: 16px;
  border-radius: 5px; /* Optional: for rounded corners */
  transition: all 0.3s ease;
}

.password-reset-form .input-box input:focus {
  border-color: #7d2ae8;
}

.password-reset-form .button input {
  width: 100%;
  background: #7d2ae8;
  border: none;
  padding: 15px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  border-radius: 5px; /* Optional: for rounded buttons */
  transition: background 0.3s;
}

.password-reset-form .button input:hover {
  background: #5b13b9;
}

.password-reset-form .text {
  text-align: center;
  margin-top: 20px;
}

.password-reset-form .text a {
  color: #7d2ae8;
  text-decoration: none;
}

.password-reset-form .text a:hover {
  text-decoration: underline;
}