
html, body, h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
}

.w3-theme, .w3-theme-l1, .w3-theme-l5, .w3-bar {
    background: linear-gradient(to bottom, #2D2F6F 0%, #00f2fe 100%) !important;
}

/* Sidebar */
.w3-sidebar {
    z-index: 3;
    width: 250px;
    top: 43px;
    bottom: 0;
    height: inherit;
    background-color: #2D2F6F; /* Or whatever the solid color should be */
}

/* Sidebar links */
.w3-sidebar .w3-bar-item {
    color: white;
    background: none; /* Remove any background to make it transparent */
}

/* Main content area styling */
.w3-main {
    margin-left: 250px;
    margin-top: 80px;
    background-color: #FFF; /* Assuming you want a white background for content */
    /* Add more styling for the content area as per your design requirements */
}


/* Close the sidebar style block */
/* Add styles for .w3-main to ensure it's not covered by the navbar */
.w3-main {
  margin-left: 250px;
  margin-top: 80px; /* Adjust this value if your navbar is taller or shorter */
}

.w3-tag, .w3-tag:after {
  background-color: #f1f1f1;
  color: #000;
}

.w3-teal, .w3-hover-teal:hover, .w3-teal.w3-hover-opacity:hover {
  color: #fff!important;
  background-color: #009688!important;
}

.w3-round {
  border-radius: 16px;
}

.w3-border {
  border: 1px solid #ccc!important;
}

.w3-back-button {
    margin-top: -17px; /* Moves the button up; adjust the value as needed */
    margin-left: 20px; /* Moves the button to the right; adjust the value as needed */
    margin-bottom: 10px; /* Optional: ensures there is space below the button */
   
}
