
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Roboto", sans-serif;
    }

    .w3-sidebar{
      background: linear-gradient(to bottom, #2D2F6F 0%, #00f2fe 100%) !important;
    }

    /* Sidebar links */
    .w3-sidebar .w3-bar-item {
      color: white;
    }

    .w3-sidebar {
      z-index: 3;
      width: 250px;
      top: 43px;
      bottom: 0;
      height: inherit;

    }

    /* Close the sidebar style block */
    /* Add styles for .w3-main to ensure it's not covered by the navbar */
    .w3-main {
      margin-left: 250px;
      margin-top: 80px;
      /* Adjust this value if your navbar is taller or shorter */
    }

    .w3-tag,
    .w3-tag:after {
      background-color: #f1f1f1;
      color: #000;
    }

    .w3-teal,
    .w3-hover-teal:hover,
    .w3-teal.w3-hover-opacity:hover {
      color: #fff !important;
      background-color: #009688 !important;
    }

    .w3-round {
      border-radius: 16px;
    }

    .w3-border {
      border: 1px solid #ccc !important;
    }
